<mat-toolbar color="primary">
  <mat-icon style="padding-right: 1rem">photo</mat-icon>
  <span>ngx-image-gallery</span>

  <span class="fill-remaining"></span>

  <!--todo-->
  <mat-icon>info</mat-icon>
</mat-toolbar>

<div fxLayout="row"
     fxLayout.lt-md="column"
     fxLayoutAlign="center">

  <mat-card fxFlex="80" style="margin: 2rem">
    <mat-card-title-group>
      <mat-card-title>Simple Example</mat-card-title>
      <mat-card-subtitle>version: 1.3.0</mat-card-subtitle>
    </mat-card-title-group>

    <mat-card-content>
      <ngx-image-gallery
        #ngxImageGallery
        [images]="images"
        [conf]="conf"
        (onOpen)="galleryOpened($event)"
        (onClose)="galleryClosed()"
        (onImageClicked)="galleryImageClicked($event)"
        (onImageChange)="galleryImageChanged($event)"
        (onDelete)="deleteImage($event)">
      </ngx-image-gallery>

      <mat-list *ngFor="let entry of ngxImageGallery.activeImage | keys">
        <mat-list-item>
          <code class="prettyprint">
            {{entry.key}}: {{entry.value.toString()}}
          </code>
        </mat-list-item>
      </mat-list>
    </mat-card-content>

    <mat-card-footer>
    </mat-card-footer>

    <mat-card-actions fxLayoutAlign="space-between center">
      <button color="accent" mat-raised-button (click)="prevImage()">Previous</button>
      <button color="accent" mat-raised-button (click)="nextImage()">Next</button>
    </mat-card-actions>
  </mat-card>

  <mat-card fxFlex="20" style="margin: 2rem">
    <mat-card-title-group>
      <mat-card-title>Configuration</mat-card-title>
      <mat-card-subtitle>Image Index:
        <code class="prettyprint">
          {{ngxImageGallery.activeImageIndex}}
        </code>
      </mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <mat-list *ngFor="let entry of conf | keys">
        <mat-list-item>
          <code class="prettyprint">
            {{entry.key}}: {{entry.value}}
          </code>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>


